<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<link rel=stylesheet href='html/style.css' type='text/css'>
<head>
    <title>{{source_id}} from {{source}} ({{uid}})</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="generator" content="Geany 1.22" />
</head>

<body>
<div style='float:left'>
    <a href='index'>Main menu</a>
<h1>{{source_id}} from {{source}} ({{uid}})</h1>
<table class='hovertable' width=500>
    <caption>Main parameters</caption>
    <tr>
        <th>Parameter</th>
        <th>Description</th>
        <th>Value</th>
        <th>Error (lower)</th>
        <th>Error (upper)</th>
        <th>Source</th>
    </tr>
    {%for par in params%}
    <tr>
        <td>{{par.name}}</td>
        <td>{{par.desc}}</td>
        <td>{{par.value}}</td>
        <td>{{par.err_low}}</td>
        <td>{{par.err_high}}</td>
        <td>{{par.source}}</td>
    </tr>
    {%endfor%}
</table>

{%for table in tables%}
<hr>
<h1>{{table.title}}</h1>
{{table.html}}
{%endfor%}
</div>
</body>

</html>
