<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<link rel=stylesheet href='static/style.css' type='text/css'>
<head>
    <title>AIP cluster database, table {{table}}. Key editor</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="generator" content="Geany 1.22" />
    <script type="text/javascript" charset="utf8" src="/static/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/aipgcd.js"></script>
    <script language="javascript">
    function onUpdate(){
        $.post('edit_table_key_update',
               {table: '{{table}}',
                       mode: '{{mode}}',
                       key: document.getElementById('key_selector').value,
                       reference_column: document.getElementById('column_list').value,
                       error_column_low: document.getElementById('error_column_low').value,
                       error_column_high: document.getElementById('error_column_high').value,
                       comment: document.getElementById('comment').value}
               );
        return false;
    }

    function modifyKey(){
        $.post("get_key_description?key="+$("#key_selector").val(),function(response){
             var values = response.split(',');
             $("#description").text(values[0]);
             $("#key_format").text(values[1]);
        })
    }

    {% if mode != 'edit' %}
    function winOnLoad(){
        fillSelectWithColumns('column_list', false, false, '');
        fillSelectWithColumns('error_column_low', true, false, '');
        fillSelectWithColumns('error_column_high', true, false, '');
    }
    {% else %}
    function winOnLoad(){
        fillSelectWithColumns('column_list', false, true, '{{reference_column}}');
        fillSelectWithColumns('error_column_low', true, true, '{{error_column_low}}');
        fillSelectWithColumns('error_column_high', true, true, '{{error_column_high}}');
    }
    {% endif %}
    window.onload = winOnLoad;
    </script>
</head>

<body>
    <a href='index'>Main menu</a>
    <a href='edit_tables'>Back to tables list</a>
    <a href='edit_table?table={{table}}'>Back to table {{table}}</a>
    <h1>Table {{table}}</h1>
    <form> <!--</form> onsubmit="onUpdate('sss'); return false;"-->
          <input type="hidden" name="table" value="{{table}}" />
          <input type="hidden" name="mode" value="{{mode}}" />
          {% if mode == 'edit' %}
              <label for="key">Key: </label>
              <input type="text" name="key" id="key_selector" value="{{key}},{{key_class}}" readonly/><br>
            <div>Description: {{description}}</div>
            <div>Format: {{format}}</div>
          {% else %}
              <label for="key">key and key subclass: </label>
              <select name="key" id="key_selector" onchange="modifyKey()">
                  {% for key_item in key_list %}
                    {% if key_item == key %}
                        <option value={{key_item}} selected>{{key_item}}</option>
                    {% else %}
                        <option value={{key_item}}>{{key_item}}</option>
                    {% endif %}
                  {% endfor %}
              </select>
              <div><label>Description: </label><div id="description"></div></div>
              <div><label>Format: </label><div id="key_format"></div></div>
          {% endif %}
          <br>
          <label for="reference_column">reference_column: </label>
          <select name="reference_column" id="column_list"></select><br>
          <label for="error_column_low">error_column_low: </label>
          <select name="error_column_low" id="error_column_low"></select><br>
          <label for="error_column_high">error_column_high: </label>
          <select name="error_column_high" id="error_column_high"></select><br>
          <label for="comment">comment: </label>
          <input type="text" name="comment" id="comment" value="{{comment}}" /><br>
          <input type="button" onclick="onUpdate()">Submit changes</input>
    </form>

</body>
</html>
