<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<!--<link rel=stylesheet href='style.css' type='text/css'>-->
<head>
    <title>AIP cluster database, table {{table}}. Key editor</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="generator" content="Geany 1.22" />
    <script type="text/javascript" charset="utf8" src="/static/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/aipgcd.js"></script>
    {% if mode != 'edit' %}
    <script language="javascript">
    function modifyKeyClass(){
        //alert('Modify key class'+$('#subkey_list').val());
        $.post("get_key_description?key="+$("#key_selector").val()+"&subkey="+$('#subkey_list').val(),function(response){
             var values = response.split(',');
             $("#description").text(values[0]);
             $("#key_format").text(values[1]);
        })
    }

    function modifyKey(){
        //alert('Modify key');
        $.post("get_subkey_list?key="+$("#key_selector").val(),function(response){
            var values = response.split(',');
            select_class = document.getElementById('subkey_list');
            select_class.onchange = null;
            refillSelect('#subkey_list', values);
            select_class = document.getElementById('subkey_list');
            select_class.onchange = modifyKeyClass;
            select_class.selectedIndex = 0;
            modifyKeyClass()
        })
    }
    function winOnLoad(){
        modifyKey();
    }
    window.onload = winOnLoad;
    </script>
    {% endif %}
</head>

<body>
    <a href='index'>Main menu</a>
    <a href='edit_tables'>Back to tables list</a>
    <a href='edit_table?table={{table}}'>Back to table {{table}}</a>
    <h1>Table {{table}}</h1>
    <form method="post" action="edit_key_update">
          <input type="hidden" name="table" value="{{table}}" />
          <input type="hidden" name="mode" value="{{mode}}" />
          {% if mode == 'edit' %}
              <label for="key">key: </label>
              <input type="text" name="key" value="{{key}}" readonly/><br>
              <label for="subkey">subkey: </label>
              <input type="text" name="subkey" value="{{subkey}}" readonly/><br>
            <div>Description: {{description}}</div>
            <div>Format: {{format}}</div>
          {% else %}
              <label for="key">key: </label>
              <select name="key" id="key_selector" onchange="modifyKey()">
                  {% for key_item in key_list %}
                    {% if key_item == key %}
                        <option value={{key_item}} selected>{{key_item}}</option>
                    {% else %}
                        <option value={{key_item}}>{{key_item}}</option>
                    {% endif %}
                  {% endfor %}
              </select>
              <label for="subkey">subkey: </label>
              <select name="subkey" id="subkey_list"></select>
              <div>Description: </div><div id="description"></div>
              <div>Format: </div><div id="key_format"></div>
          {% endif %}
          <br>
          <label for="reference_column">reference_column: </label>
          <input type="text" name="reference_column" value="{{reference_column}}" /><br>
          <label for="error_column_low">error_column_low: </label>
          <input type="text" name="error_column_low" value="{{error_column_low}}" /><br>
          <label for="error_column_high">error_column_high: </label>
          <input type="text" name="error_column_high" value="{{error_column_high}}" /><br>
          <label for="comment">comment: </label>
          <input type="text" name="comment" value="{{comment}}" /><br>
          <button type="submit">Submit changes</button>
    </form>

</body>
</html>
