<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<link rel=stylesheet href='static/style.css' type='text/css'>
<link rel=stylesheet href='static/jquery-ui.theme.css' type='text/css'>
<link rel="stylesheet" type="text/css" href="/static/DataTables/media/css/jquery.dataTables.css">
<link rel=stylesheet href='static/navigation_bar.css' type='text/css'>
<head>
    <title>AIP cluster database: Key editor</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="generator" content="Geany 1.22" />
    <script type="text/javascript" charset="utf8" src="/static/DataTables/media/js/jquery.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/DataTables/media/js/jquery.dataTables.js"></script>
    <!--<script type="text/javascript" charset="utf8" src="/static/jquery.min.js"></script>-->
    <script type="text/javascript" charset="utf8" src="/static/jquery-ui.js"></script>
    <script type="text/javascript" charset="utf8" language="javascript">
        function setSelectByValue(id, value) {
            var sel = document.getElementById(id);
            for(var i = 0, j = sel.options.length; i < j; ++i) {
                if(sel.options[i].innerHTML === value) {
                   sel.selectedIndex = i;
                   break;
                }
            }
        }

        $(document).ready(function(){
            $('#key_list').DataTable({
                ordering: true,
                autoWidth: false,
                paging: false,
                "columns": [
                { "width": "50px" },
                { "width": "50px" },
                { "width": "250px" },
                { "width": "50px" }]
            });

            $("#dialog").dialog({
                   autoOpen: false,
                   resizable: false,
                   minHeight: false
               });

            $("#key_list tbody").on( 'click', 'tr', function (e){
                if (e.ctrlKey){
                    $(this).toggleClass('selected');
                }
                else {
                    var row_num = parseInt( $(this).parent().index() )+1;
                    var cell = $('#key_list tr:nth-child('+row_num+') td:nth-child(1)');
                    $("#dialog select[name='key_name']").val(cell.html());
                    var cell = $('#key_list tr:nth-child('+row_num+') td:nth-child(2)');
                    $("#dialog input[name='subkey']").val(cell.html());
                    var cell = $('#key_list tr:nth-child('+row_num+') td:nth-child(3)');
                    $("#dialog input[name='description']").val(cell.html());
                    var cell = $('#key_list tr:nth-child('+row_num+') td:nth-child(4)');
                    $("#dialog input[name='output_format']").val(cell.html());
                    $('#dialog').dialog('option', 'title', $('#key_list tr:nth-child('+row_num+') td:nth-child(1)').html());
                    $('#dialog').dialog('open');
                }
            });

            $('#new_key').click(function(){
               $('#dialog').dialog('open');
            });

            $('#save_changes').click(function(){
                var frm = document.getElementById('dialog');
                var xkey = '';
                if (frm.querySelector('[name=key]:checked').value == 'select_from'){
                    xkey = frm.querySelector('[name=key_name]').value;
                }
                else {
                    xkey = frm.querySelector('[name=new_key_name]').value;
                }
                $.post('key_list_update', {key: xkey,
                                              subkey: frm.querySelector('#subkey').value,
                                              description: frm.querySelector('#description').value,
                                              format: frm.querySelector('[name=output_format]').value,
                                             },
                                             function(response){
                                                $('#dialog').dialog('close');
                                                window.location.reload();
                                            });
            });
        });
    </script>
</head>

<body>

{% include "/static/navigation_bar.html"  %}
<input type="button" id="new_key" value="Add new key"/>
<p>Or click on row to edit...</p>
<div id="key_list_div" style="width: 600px">
{{ key_list }}
</div>
    <div id="dialog" title="Edit key" id="edit_key">
        <div>
            <input type='radio' name='key' value='select_from' checked>
            <label for="key_name">Existing key: </label>
            <select name="key_name">
              {% for key_item in select_key %}
                <option value={{key_item}}>{{key_item}}</option>
              {% endfor %}
            </select>
        </div>
        <div>
            <input type='radio' name='key' value='enter_new'>
            <label for="new_key_name">New key: </label>
            <input type='text' name="new_key_name" value=''/>
        </div>
        <label for="subkey">Subkey: </label>
        <input type='text' name="subkey" id="subkey" value=''></input>
        <label for="description">Description: </label>
        <input type='text' name="description" id="description" value=''></input>
        <label for="output_format">Output format: </label>
        <input type='text' name="output_format" value=''></input>
        <input type="button" id="save_changes" value="Submit changes"></input>
    </div>
</body>
</html>
