<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<link rel=stylesheet href='static/style.css' type='text/css'>
<link rel=stylesheet href='static/navigation_bar.css' type='text/css'>
<link rel="stylesheet" type="text/css" href="/static/DataTables/media/css/jquery.dataTables.css">
<head>
    <title>AIP cluster database: table {{name}}</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="generator" content="Geany 1.22" />
    <script type="text/javascript" charset="utf8" src="/static/DataTables/media/js/jquery.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/DataTables/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/aipgcd.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/samp.js"></script>
    <script type="text/javascript" language="javascript" class="init">
        function addRowHandlers() {
            var table = document.getElementById("list_table");
            var rows = table.getElementsByTagName("tr");
            for (i = 1; i < rows.length; i++) {
                var currentRow = table.rows[i];
                var createClickHandler =
                    function(row)
                    {
                        return function() {
                                                var cell = row.getElementsByTagName("td")[0];
                                                var id = cell.innerHTML;
                                                window.location = "single?uid=" + id;
                                         };
                    }
                currentRow.onclick = createClickHandler(currentRow);
            }
        };
        $(window).load(function(){
            $('#list_table').DataTable({
                ordering: true,
                autoWidth: false,
                paging: false
            });
            addRowHandlers();
        });
    </script>
</head>

<body>
    {% include "./static/navigation_bar.html"  %}
    <table border="1">
    <tr>
        <td>Description: {{desc}}</td>
        <td>Key column: {{uid}}</td>
    </tr>
    </table>
    <input type='button' onclick='samp_table("list_table", true)' value='Send results to SAMP'/>
    <input type='button' onclick='samp_table("list_table", false)' value='Save results as...'/>
    {{table}}
</body>
</html>
