<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<!--<link rel=stylesheet href='style.css' type='text/css'>-->
<head>
    <title>AIP galaxy cluster database</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel=stylesheet href='/static/navigation_bar.css' type='text/css'>
    <script type="text/javascript" charset="utf8" src="/static/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" language="javascript">
        function onFilter(filter){
                if ($("#"+filter+"_filter_cb").is(':checked')){
                    $("#"+filter+"_filter").show();
                }
                else{
                    $("#"+filter+"_filter").hide();
                }
            }

        $(document).ready(function(){
            onFilter('key');
            onFilter('table');
            $("#table_filter_cb").click(function(){ onFilter('table') });
            $("#key_filter_cb").click(function(){ onFilter('key') });
        });

    </script>
</head>

<body>
    <ul id='menu_wrap' class='l_blue'>
      <li><a href="../index">Home</a></li>
      <li><a href='../edit_tables'>List tables</a></li>
      <li><a href='../key_list'>List keys</a></li>
   </ul>

    <div>
        <h2>This is a temporary search</h2>
        <form method="get" action="../single"><fieldset>
            <legend>Single cluster selection:</legend>
              <label for="uid">Cluster UID: </label>
              <input type="text" value="2294" name="uid" />
              <button type="submit">Get data</button>
              </fieldset>
        </form>

        <h2>This is a full-power search</h2>
        <form method="post" action="../vo_cone_search">
            <fieldset>
              <legend>VO cone search:</legend>
              <label for="ra">RA (degrees): </label>
              <input type="text" value="" name="ra" />
              <label for="decl">DE (degrees): </label>
              <input type="text" value="" name="decl" />
              <label for="radius">Search radius (arcmin): </label>
              <input type="text" value="" name="radius" />
            </fieldset>
            <fieldset>
              <legend>Table selection</legend>
              <label for="table">Filter by table: </label>
              <input id="table_filter_cb" type="checkbox" name="table">
              <div id="table_filter">
                <select name="has_record">
                  <option value="exists">included</option>
                  <option value="not exists">not included</option>
                </select> in
                <select name="in_table">
                  {% for table in table_list %}
                     <option value={{table}} selected>{{table}}</option>
                  {% endfor %}
                </select>
              </div>
            </fieldset>
            <fieldset>
                <legend>Key selection</legend>
                <label for="key">Filter by key: </label>
                <input id="key_filter_cb" type="checkbox" name="key">
                <div id="key_filter">
                  <select name="has_key">
                    <option value="exists">has</option>
                    <option value="not exists">has not</option>
                  </select> in
                  <select name="key_list">
                    {% for key in key_list %}
                       <option value={{key}} selected>{{key}}</option>
                    {% endfor %}
                  </select>
              </div>
            </fieldset>
            <div><button type="submit">Search</button></div>
        </form>
    </div>
</body>
</html>
