<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<!--<link rel=stylesheet href='style.css' type='text/css'>-->
<head>
    <title>AIP galaxy cluster database</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel=stylesheet href='/static/navigation_bar.css' type='text/css'>
    <script type="text/javascript" charset="utf8" src="/static/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/search_form.js"></script>
    <script type="text/javascript" charset="utf8" language="javascript">
        function onFilter(filter){
                if ($("#"+filter+"_filter_cb").is(':checked')){
                    $("#"+filter+"_filter").show();
                }
                else{
                    $("#"+filter+"_filter").hide();
                }
            }

        function switchVOcone(flag){
            if (flag){
                $('#vocone').show();
            } else {
                $('#vocone').hide();
            }
            document.getElementById("fullsky").checked = !flag;
        }

        $(document).ready(function(){
            switchVOcone(false);
        });

    </script>
</head>

<body>
    <ul id='menu_wrap' class='l_blue'>
      <li><a href="../index">Home</a></li>
      <li><a href='../edit_tables'>List tables</a></li>
      <li><a href='../key_list'>List keys</a></li>
   </ul>

    <div>
        <h2>This is a temporary search</h2>
        <form method="get" action="../single"><fieldset>
            <legend>Single cluster selection:</legend>
              <label for="uid">Cluster UID: </label>
              <input type="text" value="2294" name="uid" />
              <button type="submit">Get data</button>
              </fieldset>
        </form>

        <h2>This is a full-power search</h2>
        <input type='button' value="Add VO cone constraint"
                onclick="switchVOcone(true)"/>
        <input type='button' value="Add catalog constraint"
                onclick="getTableDiv('tables', [{{table_x}}])"/>
        <input type='button' value="Add key constraint"
                onclick="getKeyDiv('keys', [{{key_x}}])"/>
        <input type='button' value="Add catalog constraint"
                onclick="getMOCDiv('mocs', [{{moc_names}}], [{{moc_descr}}])"/>
        <form method="post" action="../vo_cone_search">
            <input type="checkbox" name="fullsky" id="fullsky" style="visibility: hidden"/>
            <fieldset id="vocone">
              <legend>VO cone:</legend>
              <label for="ra">RA (degrees): </label>
              <input type="text" value="" name="ra" />
              <label for="decl">DE (degrees): </label>
              <input type="text" value="" name="decl" />
              <label for="radius">Search radius (arcmin): </label>
              <input type="text" value="" name="radius" />
              <input type="button" value="X" name="hide" onclick="switchVOcone(false)"/>
            </fieldset>
            <fieldset id='tables'>
              <legend>Table selection</legend>
            </fieldset>
            <fieldset id='keys'>
                <legend>Key selection</legend>
            </fieldset>
            <fieldset id='mocs'>
                <legend>Catalog selection</legend>
            </fieldset>
            <div><button type="submit">Search</button></div>
        </form>
    </div>
</body>
</html>
