<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<link rel=stylesheet href='static/style.css' type='text/css'>
<link rel=stylesheet href='static/jquery-ui.theme.css' type='text/css'>
<link rel="stylesheet" type="text/css" href="/static/DataTables/media/css/jquery.dataTables.css">

<head>
    <title>{{source_id}} from {{source}} ({{uid}})</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="generator" content="Geany 1.22" />
    <script type="text/javascript" charset="utf8" src="/static/DataTables/media/js/jquery.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/jquery-ui.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/jquery-ui.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/DataTables/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/aipgcd.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/samp.js"></script>
    <!--<script type="text/javascript" charset="utf8" src="/static/jquery.min.js"></script>-->
    <script type="text/javascript" charset="utf8" language="javascript">
        function xid_flag_change(){
                $.post('single_cluster_update_xid_flag', {uid: {{uid}},
                                                         xid_flag: document.getElementById('xid_flag').value,
                                                         xid_flag_source: 'User defined',
                                                         xid_flag_comment: document.getElementById('xid_flag_comment').value});
                document.getElementById('xid_flag_source').value = 'User defined';
        }
        function obs_flag_change(){
                $.post('single_cluster_update_obs_flag', {uid: {{uid}},
                                                         obs_flag: document.getElementById('obs_flag').value,
                                                         obs_flag_source: 'User defined',
                                                         obs_flag_comment: document.getElementById('obs_flag_comment').value});
                document.getElementById('obs_flag_source').value = 'User defined';
        }

        function comment_change(){
            $.post('single_cluster_update_comment', {uid: {{uid}},
                                                     comment: document.getElementById('comment').value});
        };

        //$(window).load(function(){
        $(document).ready(function(){
            document.getElementById('xid_flag').value = {{xid_flag}};
            document.getElementById('obs_flag').value = {{obs_flag}};
            $(".header").click(function () {
                $header = $(this);
                //getting the next element
                $content = $header.next();
                //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
                $content.slideToggle(200, function () {
                    //execute this after slideToggle is done
                    //change text of header based on visibility of content div
                    $header.text(function () {
                        //change text based on condition
                        return $content.is(":visible") ? "Collapse" : "Expand";
                    });
                });
            });
            $('#key_values').DataTable({
                ordering: true,
                "scrollY": window.innerHeight - 200,
                "scrollCollapse": true,
                paging: false
            });

            $("#dialog").dialog({
               autoOpen: false,
               resizable: false,
               minHeight: false,
               position: {
                    my: "center",
                    at: "center",
                    of: window,
                    collision: "none"
                },
                create: function (event, ui) {
                    $(event.target).parent().css('position', 'fixed');
                }
            });

            $("#key_values tbody").on( 'click', 'tr', function (e){
                var row_data = $(this).children('td');
                if (row_data[5].innerText == 'User defined'){
                    if (e.ctrlKey){
                        $(this).toggleClass('selected');
                    }
                    else {
                        $("#dialog input[name='old_key']").val(row_data[0].innerText);
                        $("#dialog select[name='key_name']").val(row_data[0].innerText);
                        $("#dialog input[name='key_value']").val(row_data[2].innerText);
                        $("#dialog input[name='key_error_low']").val(row_data[3].innerText);
                        $("#dialog input[name='key_error_high']").val(row_data[4].innerText);
                        $("#dialog input[name='key_comment']").val(row_data[6].innerText);
                        $('#dialog').dialog('option', 'title', row_data[0].innerText);
                        $('#dialog').dialog('open');
                    }
                }
            });

            $('#new_key').click(function(){
               $("#dialog input[name='old_key']").val('');
               $("#dialog input[name='key_value']").val('');
               $("#dialog input[name='key_error_low']").val('');
               $("#dialog input[name='key_error_high']").val('');
               $("#dialog input[name='key_comment']").val('');
               $('#dialog').dialog('open');
            });

            $('#delete_key').click(function(){
                if (confirm('Really delete selected keys?')){
                    items = []
                    var data = $("#key_values").DataTable().rows('.selected').data();
                    for (var i = 0; i < data.length; i++ ){
                        items.push(data[i][0]);
                    }
                    $.post('single_cluster_key_delete', {uid: {{uid}},
                                                         items: items},
                                             function(response){
                                                window.location.reload();
                                             });
                }
            });


            $('#save_changes').click(function(){
                var frm = document.getElementById('dialog');
                $.post('single_cluster_key_value_update', {
                    uid: {{uid}},
                    old_key: frm.querySelector('[name=old_key]').value,
                    key: frm.querySelector('[name=key_name]').value,
                    key_value: frm.querySelector('[name=key_value]').value,
                    key_err_low: frm.querySelector('[name=key_error_low]').value,
                    key_err_high: frm.querySelector('[name=key_error_high]').value,
                    key_comment: frm.querySelector('[name=key_comment]').value,
                },
                function(response){
                    $('#dialog').dialog('close');
                    window.location.reload();
                });
            });
        });
    </script>
</head>

<body>
<div style='float:left'>
    <a href='index'>Main menu</a>
<h1>{{source_id}} from {{source}} (UID={{uid}})</h1>
<h2>Equatorial coordinates {{ra}}d {{dec}}d</h2>
<p>Detection status
  <select id="xid_flag" onchange="xid_flag_change()">
      <option value='-1'>-1: Not a cluster</option>
      <option value='0'>0: Undecided</option>
      <option value='1'>1: Confirmed cluster</option>
      <option value='2'>2: Confirmed cluster with spectra</option>
  </select>
  Taken from: <input id="xid_flag_source" type="text" readonly value="{{xid_flag_source}}">
  Comment:  <input id="xid_flag_comment" type="text" value="{{xid_flag_comment}}" onchange="xid_flag_change()">
</p>
<p>Observation status
  <select id="obs_flag" onchange="obs_flag_change() ">
      <option value='0'>0: No data</option>
      <option value='1'>1: In a large survey</option>
      <option value='2'>2: Dedicated photometry</option>
      <option value='3'>3: Dedicated spectroscopy</option>
  </select>
  Taken from: <input id="obs_flag_source" type="text" readonly value="{{obs_flag_source}}">
  Comment:  <input id="obs_flag_comment" type="text" value="{{obs_flag_comment}}" onchange="obs_flag_change()">
</p>
<div style="float: left; margin-right: 20px;"><a target="_blank" href="http://ned.ipac.caltech.edu/cgi-bin/objsearch?in_csys=Equatorial&in_equinox=J2000.0&lon={{ra}}d&lat={{dec}}d&radius=2.0&hconst=73&omegam=0.27&omegav=0.73&corr_z=1&search_type=Near+Position+Search&z_constraint=Unconstrained&ot_include=ANY&nmp_op=ANY&out_csys=Equatorial&out_equinox=J2000.0&obj_sort=Distance+to+search+center&of=pre_text&list_limit=15&img_stamp=YES">NED search</a></div>

<div><a target="_blank" href="http://simbad.u-strasbg.fr/simbad/sim-coo?Coord={{ra}}d{{dec}}d&CooFrame=ICRS&CooEpoch=2000">SIMBAD search</a></div>

<div><h3>Catalog coverage:</h3>
<table id="mocs" border='1'>
    <thead>
        <tr>
            <td>Catalog</td>
            <td>Link</td>
        </tr>
    </thead>
    {%for moc in mocs%}
    <tr>
        <td>{{moc.description}}</td>
        <td>{{moc.link}}</td>
    </tr>
    {%endfor%}
</table>
</div>

<div>
<table id="key_values" class="compact hover" width=500 columns='SSSSSSS'>
    <caption>Main parameters
      <input type='button' id="new_key" value='Create custom key'/>
      <input type='button' id="delete_key" value='Delete selected custom keys'/>
      <input type='button' onclick='samp_table("key_values", true)' value='Send to SAMP'/>
    </caption>
    <thead>
        <tr>
            <th>Parameter</th>
            <th>Description</th>
            <th>Value</th>
            <th>Error (lower)</th>
            <th>Error (upper)</th>
            <th>Source</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
    {%for par in params%}
    <tr>
        <td>{{par.name}}</td>
        <td>{{par.desc}}</td>
        <td>{{par.value}}</td>
        <td>{{par.err_low}}</td>
        <td>{{par.err_high}}</td>
        <td>{{par.source}}</td>
        <td>{{par.comment}}</td>
    </tr>
    {%endfor%}
    </tbody>
</table>
</div>

<div id="dialog" title="Edit user key">
    <input type="hidden" name="old_key"></input>
    <div>
        <label for="key_name">Key: </label>
        <select name="key_name">
          {% for key_item in select_key %}
            <option value={{key_item}}>{{key_item}}</option>
          {% endfor %}
        </select>
    </div>
    <label for="key_value">Value: </label>
    <input type='text' name="key_value" value=''></input>
    <label for="key_error_low">Lower error: </label>
    <input type='text' name="key_error_low" value=''></input>
    <label for="key_error_high">Upper error: </label>
    <input type='text' name="key_error_high" value=''></input>
    <label for="key_comment">Comment: </label>
    <input type='text' name="key_comment" value=''></input>
    <input type="button" id="save_changes" value="Submit changes"></input>
</div>
<hr>
<h1>Comment</h1>
<div>
<textarea id="comment" name="comment" cols="40" rows="5" onchange="comment_change()">{{comment}}</textarea>
</div>
{%for table in tables%}
<hr>
<h1>{{table.title}}</h1>
{{table.html}}
<div class="container">
<div class="header"><span>See all data</span></div>
<div class="content">{{table.full_table}}</div>
</div>
{%endfor%}
</div>

</body>

</html>
